/* Variables for Colors: Solarized, Savvy Coders, etc. */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Kumar+One');
@import url('https://fonts.googleapis.com/css?family=VT323');

* {
	--solarbase03: #002b36;
	--solarbase02: #073642;
	--solarbase01: #586e75;
	--solarbase00: #657b83;
	--solarbase0: #839496;
	--solarbase1: #93a1a1;
	--solarbase2: #eee8d5;
	--solarbase3: #fdf6e3;
	--solaryellow: #b58900;
	--solarorange: #cb4b16;
	--solarred: #dc322f;
	--solarmagenta: #d33682;
	--solarviolet: #6c71c4;
	--solarblue: #268bd2;
	--solarcyan: #2aa198;
	--solargreen: #859900;
    --savvyblue: #07c4dd;
    --sansserif: 'Montserrat', sans-serif;
    --cursive: 'Kumar One', cursive;
    --monospace: 'VT323', monospace;
}

/* Common Element and Class Styling */

body {
	background-color: var(--solarbase03);
	font-family: var(--sansserif);
	color: var(--solarbase0);
	display: grid;
	grid-template-rows: min-content min-content auto min-content;
	grid-template-areas:
		"navigation"
		"header"
		"content"
		"footer";
	min-height: 100vh;
}

h1 {
	font-family: var(--cursive);
	color: var(--savvyblue);
}

.code {
	color: var(--solarbase00);
	background-color: var(--solarbase3);
	font-family: var(--monospace);
	letter-spacing: 0.25em;
	padding: 0 1.5em;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

#header {
	grid-area: header;
}

#content {
	grid-area: content;
}

#footer {
	grid-area: footer;
	background-color: var(--solarbase02);
	padding: 0 10px;
}

#footer ul {
	padding-inline-start: 0;
}

#footer .contact li {
	list-style: none;
}

#content .news {
	color: var(--solarbase00);
	background-color: var(--solarbase3);
}

/* Home IDs */

#personalPhoto {
	display: block;
	width: 40%;
	max-width: 200px;
	border-radius: 100%;
	margin: 1.5em auto;
}

/* Navigation Bar */

#navigation {
	position: sticky;
	top: 0;
	grid-area: navigation;
}

#navigation ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	padding-inline-start: 0px;
}

#navigation>ul>li {
	display: inline;
	margin: 10px 5px;
	position: relative;
}

#navigation .dropdown {
	display: none;
	position: absolute;
	top: 1.25em;
	left: 0;
}

#navigation a:hover+.dropdown,
#navigation a+.dropdown:hover {
	display: block;
}

#navigation a {
	color: var(--solarblue);
}

#navigation a:hover {
	background-color: var(--solarbase2);
	font-style: italic;
}

@media (min-width: 750px) {
	body {
		grid-template-columns: 15% auto;
		grid-template-rows: min-content auto min-content;
		grid-template-areas:
			"navigation header"
			"navigation content"
			"navigation footer";
	}

	#navigation ul {
		flex-direction: column;
		align-items: center;
	}
	
	#navigation .dropdown {
		top: 0;
		left: 5.5vw;
	}
}